header{
    grid-area: header;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
}

main{
    grid-area: main;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
}

nav{
    grid-area: nav;
    background-color: lightgrey;
    position: relative;
    display: block;
}
nav ul{
    list-style-type: none;
    text-align: center;
}
nav ul ul{
    list-style-type: none;
    display: none;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0;
    width: 100%;
}
nav ul:hover ul{
    display: block;
}

footer{
    grid-area: footer;
    background-color: black;
    color:white;
}

body{
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:"header header header"
                        "nav nav nav"
                        "main main main"
                        "footer footer footer";
}