header{
    grid-area: header;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
}

main{
    grid-area: main;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
}

nav{
    grid-area: nav;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
}

aside{
    grid-area: aside;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
}

footer{
    grid-area: footer;
    background-color: black;
    color:white;
}

body{
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: auto;
    grid-template-areas:"header header header"
                        "nav main aside"
                        "footer footer footer";
}